<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Base Suite">

    <parameter name="browserName" value="chrome" />

    <test name="All">
        <classes>
            <class name="runners.Runner" />
        </classes>
    </test>

</suite> <!-- Suite -->